.button {
  background-color: white;
  border: 3px solid black;
  cursor: pointer;
  font-family: "value-sans-bold", "Arial", "Helvetica", sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0.5px;
  line-height: 1;
  padding: calc(0.375rem + 2px) 0.75rem 0.375rem;
  text-transform: uppercase;
}

.button:not(:disabled):hover, .button:not(:disabled):focus {
  background-color: black;
  color: white;
}

.button:disabled {
  color: black;
  cursor: auto;
  opacity: 0.25;
}
