footer {
  background-color: black;
  display: flex;
  padding: 3rem 0;

  align-items: center;
  flex-direction: column;
}

#footer-link-group {
  display: flex;
  margin-bottom: 2rem;

  flex-direction: column;
}

#footer-link-group > a {
  color: white;
  font-family: "value-sans-bold", "Arial", "Helvetica", sans-serif;
  font-size: 0.75rem;
}

#footer-link-group > a:not(:hover) {
  text-decoration: none;
}

#footer-logo {
  height: 40px;
}
