#outer-header {
  background-color: white;
  display: flex;
  height: 100px;
  position: sticky;
  top: -30px;

  align-items: center;
}

#inner-header {
  display: flex;
  height: 70px;
  position: sticky;
  top: 0;
  width: 100%;

  align-items: center;
  justify-content: space-between;
}

.header-icons {
  font-size: 1.125rem;
  font-weight: 900;
}

#header-logo {
  height: 20px;
  width: auto;
}