@font-face {
  font-family: "recoleta-semibold";
  src: url("../fonts/recoleta-semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "value-sans-bold";
  src: url("../fonts/value-sans-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "value-sans-regular";
  src: url("../fonts/value-sans-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --hippie-blue: #5091AD;
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  color: black;
  font-family: "value-sans-regular", "Arial", "Helvetica", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 1.5;
  margin: 0;
}

#react-root {
  display: flex;
  min-height: 100vh;

  flex-direction: column;
}

.container {
  margin: 0 24px;
}

main {
  flex-grow: 1;
}
