#form-header {
  background-color: white;
  position: sticky;
  top: 70px;
}

#form-button-group {
  border-top: 3px solid var(--hippie-blue);
  display: flex;
  padding: 2.25rem 0;
}

#upload-input {
  height: 0;
  width: 0;
}

#upload-input-label {
  cursor: pointer;
  margin-right: 1.75rem;
}

#upload-input:disabled+label {
  cursor: default;
  opacity: 0.25;
}

#upload-input:disabled+label:hover {
  background-color: white;
  color: black;
}

#form-button-group > button[type="submit"] {
  margin-left: auto;
}

#selection-count {
  border-bottom: 3px solid var(--hippie-blue);
  display: inline-block;
  font-family: "value-sans-bold", "Arial", "Helvetica", sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0.5px;
  line-height: 1;
  margin-bottom: 0.75rem;
}

#no-file-text {
  font-family: "recoleta-semibold", "Times New Roman", "Times", serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.2;
}
