.upload-preview {
    display: flex;
    margin-bottom: 3rem;

    align-items: flex-start;
}

.upload-preview > img {
    margin-right: 1.5rem;
    width: 87px;
}

.preview-divs {
    width: 100%;
}

.preview-divs > div {
    font-size: 0.875rem;
}

.progress-status {
    display: flex;

    align-items: center;
}

.progress-text {
    margin-right: 1.75rem;
    text-align: right;
    width: 4ch;
}

.progress-bar {
    background-color: #F2F2F2;
    border-radius: 10px;
    flex-grow: 1;
    height: 0.875rem;
}

.progress-bar > div {
    background-color: #B3B3B3;
    border-radius: 10px;
    height: 0.875rem;
    transition: 0.35s width ease;
}
